@media screen and (max-width: 320px;) {body {font-size: 100%}
}

header
{
  text-align: left
}

header
{
  font-family: 'Arapey', serif;
}
header
{line-height: 4px; /* 4px +12px + 4px */}

h1 {
  font-size: x-large;
}


header {
  margin: 5px;
  padding: 15px;

}

}
h1
{font-weight: normal;}

a { color: black; }

/* mouse over link */
a:hover {
  color: gray;
}


li {
  margin: 1px;
  padding: 1px;

}


h1 {
  font-size: 20px;
}

h1 {
  color: black;
}

li
a {
  text-decoration: none;
}

li
{color: black;}

li
{line-height: 40px; /* 4px +12px + 4px */}


li
{font-size: 15px;}

body
{text-align: center}

body
{line-height: 10px; /* 4px +12px + 4px */}


body {
  background-color: white;
}

body 
{color: black;}

body
{font-family: 'Arapey', serif;}

img  {
  position: absolute;
  left: 60%;
  top: 20%;
}

#text
{
  position: absolute;
  right: 60%;
  left: 20%;
  top: 50%;
  line-height: 1}
}

#text
{padding-left: 40px;
margin-left; 40px;}
