header
{
text-align: right;
line-height: 25px;
font-family: 'Arapey', serif;
}


body { 
background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14572822_1218029504921874_1110227865173804077_n.jpg?oh=f3e6acbc0dae4f906d3a34e7517bbd44&oe=5895F2F2) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14572822_1218029504921874_1110227865173804077_n.jpg?oh=f3e6acbc0dae4f906d3a34e7517bbd44&oe=5895F2F2");
background-color: #cccccc;
background-repeat: no-repeat;
}



header {
margin: 5px;
padding: 15px;

}

div {
float: center;
margin-left: auto;
margin-right: auto;
background-color: white;
margin: auto;
}

h1
{font-weight: normal;
font-size: 40px;
color: gray;}

a { color: gray; }


/* mouse over link */
a:hover {
color: white;
text-decoration: none;}
}


li
a {
text-decoration: none;
}

li
{color:  gray;
line-height: 30px;
font-size: 20px;
float: right;
margin: 1px;
padding: 1px;}



body
{text-align: center;
line-height: 20px; 
background-color: white;
color: black;
font-family: 'Arapey', serif;}

div1
{ float: left;
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */

display: flex;
align-items: center;

}


#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

#list1 li
{display: inline;
list-style-type: none;
padding-left: 10px;
font-size: 80px;
line-height: 70px;}

@media screen and (max-width: 600px)
